body {
	font-family: "Arial";
	padding: 5px;
	font-size: 12px;
	text-align:left;
}

table {
	margin-left:auto; 
	margin-right:auto;
	width:100%;
}

.innerTable {
	text-align:center;
}

.innerTable tbody th {
	text-align:left;
}
  
.outerTable {
	text-align:left;	
	border: 1px solid;
	height:100%;
}


.info{
	overflow-y:auto;
	padding: 2px;
} 